body {
    font-family: var(--font-principal);
    color: #ffffff;
    background-color: #171210;
}

main {
    padding: 0 1.5rem;
    margin: 0 2.21rem;
}

@media screen and (max-width: 950px) {

    main {
        padding: 0;
        margin: 0 1.7rem;
    }

}
