/* Header Navigation */
.header-navigation {
    background-color: rgba(23, 20, 19, 0.8);
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    width: 1360px;
    height: 71px;
    font-size: 14px;
    padding: 16px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(236, 91, 19, 0.2);
    z-index: 999;
}

.logo {
    display: flex;
    font-size: 20px;
    height: 28px;
    color: #EC5B13;
    text-transform: uppercase;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 900;
    letter-spacing: -1px;
}

.nav-center ul {
    display: flex;
    gap: 32px;
    margin-top: 16px;
    line-height: 14px;
    color: #F1F5F9;
}

.nav-center a:hover {
    color: #EC5B13;
}

.nav-right ul {
    display: flex;
    gap: 16px;
}

.btn {
    display: block;
    border: 1px solid #EC5B13;
    border-radius: 12px;
    padding: 8px 20px;
    max-width: 5.18rem;
    height: 38px;
    font-weight: 700;
}

.btn-outline {
    background-color: transparent;
    color: #EC5B13;
}

.btn-filled {
    padding: 0 10px;
    line-height: 38px;
    background-color: #EC5B13;
    color: #F1F5F9;
    box-shadow: 
    0 3px 10px rgba(255, 90, 0, 0.2),
    0 0 15px rgba(255, 90, 0, 0.2);
    transition: all 0.3s ease;
}

.btn-outline:hover {
    background-color: rgba(236, 91, 19, 0.1);
    border-color: #EC5B13;
}

.btn-filled:hover {
    transform: scale(1.05);
    
}




